body { 
  background: url(http://wallpaper-gallery.net/images/backgrounds-and-wallpapers-hd/backgrounds-and-wallpapers-hd-26.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }